@model Stud.Model.Models.admin

<form method="post" asp-action="Login">
    <div class="border p-3 mt-4" style="background-color:lightgray;">

        <div class="row pb-2">
            <h2 class="text-info">Login</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label> AdminName </label>
            <input class="form-control" asp-for="AdminName" placeholder="Enter your Name" />
            <span asp-validation-for="AdminName"></span>
        </div>

        <div class="mb-3">
            <label> AdminPassword </label>
            <input type="password" class="form-control" asp-for="AdminPassword" placeholder="Enter your Password" />
            <span asp-validation-for="AdminPassword"></span>
        </div>

        <div class="mb-3">
            <br />
            <button class="btn btn-info" type="submit" asp-controller="StudM" asp-action="Login"> Login </button>

            @*<a class="btn btn-info" asp-area="User" asp-controller="User" asp-action="SignUp"> User? Click here to Register </a>*@
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
